.formContainer {
    margin-top: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .form-full-width {
    width: 100%;
  }
  
  td {
    padding-right: 8px;
  }
  
  .icon {
    font-size: 17px;
  }
  
  .preffix {
    font-size: 13px;
  }
  
  .buttonContainer {
    display: flex;
    align-content: center;
    justify-content: center;
  }
  
  .aceptarbtn {
    margin-right: 2%;
  }
  