<mat-toolbar color="primary">
    <span routerLink="/dashboard" >Nutri2</span>
    <span class="elementosNav"></span>
      <mat-icon color="basic" routerLink="/dashboard" class="pointer">home</mat-icon>
    <button mat-button routerLink="/dashboard/consultas" target="_blank">Consultas</button>
    <button mat-button routerLink="/dashboard/facturacion" target="_blank">Facturación</button>
    <button mat-button routerLink="/dashboard/nutricionistas" target="_blank">Nutricionistas</button>
    <span class="elementosNav"></span>
    <button routerLink = "/logout" mat-icon-button class="example-icon">
        <mat-icon>logout</mat-icon>
    </button>
      
</mat-toolbar>