<div class="headerSeccion">
  <mat-toolbar>
    <span>Nutricionistas</span>
    <div class="distribucionHeader"></div>
    <mat-icon matSuffix color="accent" class="icon" routerLink="/dashboard/add-nutricionista" matTooltip="Añadir nutricionista">add_circle</mat-icon>   
  </mat-toolbar>
    <table mat-table [dataSource]="dataSource"> 
      <ng-container matColumnDef="idNutricionista">
        <th mat-header-cell *matHeaderCellDef> Id Nutricionista</th>
        <td mat-cell *matCellDef="let nutricionista"> {{nutricionista.idNutricionista}} </td>
      </ng-container>
      <ng-container matColumnDef="nombre">
        <th mat-header-cell *matHeaderCellDef > Nombre </th>
        <td mat-cell *matCellDef="let nutricionista"> {{nutricionista.nombre}} </td>
      </ng-container>
      <ng-container matColumnDef="apellidos">
        <th mat-header-cell *matHeaderCellDef > Apellidos </th>
        <td mat-cell *matCellDef="let nutricionista"> {{nutricionista.apellidos}} </td>
      </ng-container>
      <ng-container matColumnDef="fechaNacimiento">
        <th mat-header-cell *matHeaderCellDef > Fecha Nacimiento</th>
        <td mat-cell *matCellDef="let nutricionista"> {{nutricionista.fechaNacimiento}} </td>
      </ng-container>
      <ng-container matColumnDef="fechaAlta">
        <th mat-header-cell *matHeaderCellDef >Fecha Alta</th>
        <td mat-cell *matCellDef="let nutricionista"> {{nutricionista.fechaAlta}} </td>
      </ng-container>
      <ng-container matColumnDef="activo">
        <th mat-header-cell *matHeaderCellDef >Activo</th>
        <td mat-cell *matCellDef="let nutricionista"> {{nutricionista.activo}} </td>
      </ng-container>
      <ng-container matColumnDef="dni">
        <th mat-header-cell *matHeaderCellDef >DNI</th>
        <td mat-cell *matCellDef="let nutricionista"> {{nutricionista.dni}} </td>
      </ng-container>
      <ng-container matColumnDef="telefono">
        <th mat-header-cell *matHeaderCellDef> Teléfono </th>
        <td mat-cell *matCellDef="let nutricionista"> {{nutricionista.telefono}} </td>
      </ng-container>
      <ng-container matColumnDef="sueldo">
        <th mat-header-cell *matHeaderCellDef>Sueldo</th>
        <td mat-cell *matCellDef="let nutricionista"> {{nutricionista.sueldo}} </td>
      </ng-container>
      <ng-container matColumnDef="facturacion">
        <th mat-header-cell *matHeaderCellDef>Facturación</th>
        <td mat-cell *matCellDef="let nutricionista" style="text-align: center;">
          <a class="pointer"  routerLink="/dashboard/facturacion-nutricionista-mensual"  matTooltip="Ver facturación"> 
            <mat-icon>search</mat-icon>
          </a>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>

 <div class="headerSeccion">
    <mat-toolbar>
      <span>Facturación Mensual Nutricionista</span>
    </mat-toolbar>
    <table mat-table [dataSource]="dataSourceFacturacion">
      <ng-container matColumnDef="nutricionista">
        <th mat-header-cell *matHeaderCellDef> Nutricionista</th>
        <td mat-cell *matCellDef="let facNutri"> {{facNutri.nutricionista.idNutricionista}} </td>
      </ng-container>
      <ng-container matColumnDef="minutos_trabajados">
        <th mat-header-cell *matHeaderCellDef> Minutos Trabajados </th>
        <td mat-cell *matCellDef="let facNutri"> {{facNutri.minutos_trabajados}} </td>
      </ng-container>
      <ng-container matColumnDef="facturacion_bruta">
        <th mat-header-cell *matHeaderCellDef> Facuración Bruta </th>
        <td mat-cell *matCellDef="let facNutri"> {{facNutri.facturacion_bruta}} </td>
      </ng-container>
      <ng-container matColumnDef="facturacion_bruta_hora">
        <th mat-header-cell *matHeaderCellDef>Facturación Bruta/Hora</th>
        <td mat-cell *matCellDef="let facNutri"> {{facNutri.facturacion_bruta_hora}} </td>
      </ng-container>
      <ng-container matColumnDef="facturacion_neta">
        <th mat-header-cell *matHeaderCellDef>Facuración Neta</th>
        <td mat-cell *matCellDef="let facNutri"> {{facNutri.facturacion_neta}} </td>
      </ng-container>
      <ng-container matColumnDef="facturacion_neta_hora">
        <th mat-header-cell *matHeaderCellDef>Facuración Neta/Hora</th>
        <td mat-cell *matCellDef="let facNutri"> {{facNutri.facturacion_neta_hora}} </td>
      </ng-container>
      <ng-container matColumnDef="numero_consultas">
        <th mat-header-cell *matHeaderCellDef>Número de consultas</th>
        <td mat-cell *matCellDef="let facNutri"> {{facNutri.numero_consultas}} </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumnsFacturacion"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumnsFacturacion;"></tr>
    </table> 
    <div class="buttonContainer">
      <button mat-raised-button routerLink="/dashboard/nutricionistas" color="primary">Volver</button>
    </div>
</div>
