table {
    width: 100%;
    margin-top: 1%;
  }

  .pointer {
    cursor: pointer;
  }

  .mat-form-field {
    margin-top: 1%;
    font-size: 14px;
    width: 100%;
  }

  .botonAdd{
    flex: 1 1 auto;
  }