<div class="body">
    <div class="login">
      <mat-spinner *ngIf = "loading" class = spinner diameter="50"></mat-spinner>
      <form *ngIf = "!loading" [formGroup]="form" (ngSubmit)="ingresar()">
        <img src="./assets/img/login_image.png">
        <h1>Login</h1>
        <mat-form-field class = loginElement appearance="fill">
            <mat-label>Usuario</mat-label>
            <input type = "text"  matInput formControlName="usuario">
          </mat-form-field>
          <mat-form-field class = loginElement appearance="fill">
            <mat-label>Contraseña</mat-label>
            <input type = "password" matInput formControlName="password">
          </mat-form-field>
          <button type = "submit" class = loginElement mat-raised-button color="primary" [disabled] = "form.invalid">Acceder</button>
      </form>
    </div>
</div>

